{% extends 'base.html.twig' %}

{% block title %}Notícia legal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-page">
        <div class="container">
            <h2 class="H2-couleurs">Notícia legal</h2>
            <ul>
                <li>O site: www.visita-360.com</li>
                <li>Sede: Rua do monte 34 – Rua de monte 34 - 4720-167 Bico Amares</li>
                <li>Endereço de contato: contact@visita-360.com</li>
                <li>Telefone: +351 928 158 074</li>
            </ul>
            <h3 class="mt-3 H2-couleurs">Seus dados pessoais:</h3>
            As informações coletadas no site <strong>www.visita-360.com</strong> são destinadas à empresa <strong>Parlaoz nathalie</strong>. Estão sujeitos a tratamento informático para efeitos de tratamento do seu pedido e da nossa gestão comercial, nomeadamente
            <ul class="">
                <li>respondendo a solicitações de informações feitas no site</li>
                <li>o envio de informações comerciais quando você tiver dado seu consentimento ou quando a legislação em vigor o autorizar</li>
                <li>o estabelecimento de estatísticas gerais sobre a consulta do site para melhorar os serviços que oferecemos neste site.</li>
            </ul>
            De acordo com a lei n° 78-17 de 6 de janeiro de 1978 relativa ao processamento de dados, arquivos e liberdades, você tem o direito de acesso, retificação, exclusão de informações que lhe dizem respeito, que você pode exercer entrando em contato com <strong>www .visita-360.com.</strong>

            Os campos dos formulários de inscrição seguidos de um asterisco devem ser preenchidos. Caso contrário, não podemos levar em consideração sua solicitação de informações.
            Também podemos coletar dados sobre seu uso do site, por exemplo, as páginas que você visita ou os serviços que você usa, para entender melhor suas expectativas e melhorar o funcionamento do site <strong>www.visita-360.com. </strong>

            <h3 class="mt-3 H2-couleurs">Créditos: </h3>
            <ul>
                <li><strong>Nome do site</strong><span> </span>: www.visita-360.com</li>
                <li><strong>Editor do site</strong><span> </span>: Parlaoz Nathalie</li>
                <li><strong>Diretor de publicação<span> </span></strong>: Parlaoz Nathalie</li>
                <li><strong>Design e produção<span> </span></strong>: Parlaoz Nathalie</li>
                <li><strong>Acompanhamento do site</strong><span> </span>: contact@visita-360.com</li>
                <li><strong>Hospedagem</strong><span> </span>: Planet Hoster</li>
            </ul>
            O utilizador do site reconhece possuir as competências e meios necessários para aceder e utilizar este site. Ele também reconhece ter lido este aviso legal e se compromete a cumpri-lo.

            <h3 class="mt-3 H2-couleurs">Lei de proteção de dados:</h3>
            Algumas seções exigem registro com dados sobre você.
            De acordo com a lei “Informatique et Libertés”, o processamento de informações pessoais relativas a usuários da Internet foi declarado à Comissão Nacional de Informática e Liberdades (CNIL).
            Os dados pessoais recolhidos no site <strong>www.visita-360.com</strong> resultam da comunicação voluntária de um endereço de e-mail ao enviar uma mensagem de e-mail. <strong>www.visita-360.com</strong> mantém os endereços de e-mail confidenciais. Nenhum uso será feito desses endereços, exceto para o envio de newsletters às pessoas que as solicitaram. Os endereços de e-mail recolhidos não serão cedidos a terceiros.

            Você tem o direito de acessar, modificar, retificar e excluir os dados que lhe dizem respeito (art. 34 da lei “Informatique et Libertés” de 6 de janeiro de 1978). Para exercer esse direito, escreva para <strong>www.visita-360.com.</strong>



            <h3 class="mt-3 H2-couleurs">Cópias, direitos e reproduções:</h3>
            De acordo com as leis que regem os direitos de propriedade literária e artística ou direitos conexos, a reprodução e representação de todos ou parte dos componentes deste site são estritamente proibidas.

            Qualquer representação total ou parcial deste site por qualquer meio, sem a autorização expressa do operador do site é proibida e constitui uma infração punível pelos artigos L 335-2 e seguintes do Código de Propriedade Intelectual.

            <h3 class="mt-3 H2-couleurs">Contato:</h3>
            Você pode entrar em contato conosco pelo e-mail <strong>contact@visita-360.com</strong>

            <h3 class="mt-3 H2-couleurs">Direitos autorais e reprodução proibida – Direitos autorais</h3>
            Todos os textos, comentários, obras, ilustrações, documentos para download, representações iconográficas e infográficas e imagens reproduzidas neste site são reservados sob direitos autorais, bem como propriedade intelectual e para todo o mundo. Como tal e de acordo com as disposições do Código de Propriedade Intelectual, apenas é autorizada a utilização para uso privado. Sem autorização prévia, é proibida qualquer reprodução total ou parcial deste site, bem como qualquer utilização do conteúdo do site, que não seja a consulta individual e privada.

            Qualquer representação total ou parcial deste site e seu conteúdo, por qualquer meio, sem a prévia autorização do diretor de publicação, é proibida e constitui uma infração punível pelos artigos L335-2 e seguintes do Código de Propriedade Intelectual.

            <h3 class="mt-3 H2-couleurs">Direitos autorais e reprodução proibida – Direitos autorais</h3>
            Todos os textos, comentários, obras, ilustrações, documentos para download, representações iconográficas e infográficas e imagens reproduzidas neste site são reservados sob direitos autorais, bem como propriedade intelectual e para todo o mundo. Como tal e de acordo com as disposições do Código de Propriedade Intelectual, apenas é autorizada a utilização para uso privado. Sem autorização prévia, é proibida qualquer reprodução total ou parcial deste site, bem como qualquer utilização do conteúdo do site, que não seja a consulta individual e privada.

            <h3 class="mt-3 H2-couleurs">Informações pessoais</h3>
            Em aplicação da lei n)78-17 de 6 de janeiro de 1978 relativa ao tratamento de dados, arquivos e liberdades, você tem o direito de oposição (art.26 da lei), de acesso (art.34 a 38 da lei ) e retificação (art.36 da lei) dos dados que lhe dizem respeito. Se você deseja exercer esse direito, entre em contato conosco em: <strong>contact@visita-360.com</strong>.
        </div>
    </section>
{% endblock %}
