{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-page">
        <div class="container">
            <h2 class="H2-couleurs">Mentions légales</h2>
            <ul>
                <li>Le site web : www.eric-parlaoz.fr</li>
                <li> Siège social : 13 impasse de la pommeraie – 38760 Varces allières et risset</li>
                <li>Adresse de contact : contact@eric-parlaoz.fr</li>
                <li>Téléphone : 07 88 10 21 12</li>
            </ul>
            <h3 class="H2-couleurs">Vos données personnelles :</h3>
            Les informations collectées sur le site <strong>www.eric-parlaoz.fr</strong> sont destinées à la société <strong>www.eric-parlaoz.fr</strong>. Elles font l’objet d’un traitement informatique ayant pour finalité le traitement de votre demande et notre gestion commerciale, en particulier
            <ul class="">
                <li>la réponse aux demandes d’information formulées sur le site</li>
                <li>l’envoi d’informations commerciales lorsque vous avez donné votre accord ou lorsque la législation en vigueur l’autorise</li>
                <li>l’établissement de statistiques générales sur la consultation du site afin d’améliorer les prestations que nous offrons sur ce site.</li>
            </ul>
            Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de rectification, de suppression des informations qui vous concernent, que vous pouvez exercer en vous adressant à <strong>www.eric-parlaoz.fr.</strong>

            Les champs des formulaires d’inscription suivis d’un astérisque doivent obligatoirement être renseignés. A défaut, nous ne pouvons pas prendre en compte votre demande d’information.
            Nous pouvons également collecter des données concernant votre utilisation du site, par exemple les pages que vous visitez ou les services que vous utilisez afin de mieux comprendre vos attentes et d’améliorer le fonctionnement du site <strong>www.eric-parlaoz.fr.</strong>

            <h3 class="H2-couleurs">Crédits: </h3>
            <ul>
                <li><strong>Nom du site</strong><span> </span>: www.eric-parlaoz.fr</li>
                <li><strong>Éditeur du site</strong><span> </span>: Parlaoz eric</li>
                <li><strong>Directeur de publication<span> </span></strong>: Parlaoz eric</li>
                <li><strong>Conception et réalisation<span> </span></strong>: Parlaoz eric</li>
                <li><strong>Suivi du site</strong><span> </span>: contact@eric-parlaoz.fr</li>
                <li><strong>Hébergement</strong><span> </span>: Planet Hoster</li>
            </ul>
            L’utilisateur du site Internet reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site. Il reconnaît également avoir pris connaissance de la présente notice légale et s’engage à la respecter.

            <h3 class="H2-couleurs">Loi Informatique et Libertés :</h3>
            Certaines rubriques nécessitent une inscription avec des données vous concernant.
            Conformément à la loi « Informatique et Libertés », le traitement des informations nominatives relatives aux internautes a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL).
            Les données personnelles recueillies sur le site <strong>www.eric-parlaoz.fr</strong> résultent de la communication volontaire d’une adresse de courrier électronique lors du dépôt d’un message électronique. <strong>www.eric-parlaoz.fr</strong> conserve de manière confidentielle les adresses e-mails. Aucun usage ne sera fait de ces adresses hormis l’envoi des newsletters aux personnes en ayant fait la demande. Les adresses électroniques collectées ne feront l’objet d’aucune cession à des tiers.

            Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi « Informatique et Libertés » du 6 janvier 1978). Pour l’exercer merci d’écrire à <strong>contact@eric-parlaoz.fr.</strong>

            <h3 class="H2-couleurs">Copies, droits et reproductions :</h3>
            Conformément aux lois régissant les droits de propriété littéraire et artistique ou les droits voisins, la reproduction et la représentation de tout ou partie des éléments composant de ce site sont strictement interdites.

            Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet est interdite et constituerait une contrefaçon sanctionnée par les article L 335-2 et suivants du Code de la propriété intellectuelle.

            <h3 class="H2-couleurs">Contact :</h3>
            Vous pouvez nous joindre par mail <strong>contact@eric-parlaoz.fr</strong>

            <h3 class="H2-couleurs">Droits d’auteurs et reproduction interdite – Copyrights</h3>
            Tous les textes, commentaires, ouvrages, illustrations, documents téléchargeables, représentations iconographiques et infographique et images reproduits sur ce site sont réservés au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. À ce titre et conformément aux dispositions du Code de la Propriété Intellectuelle, seule est autorisée l’utilisation pour un usage privé. Sauf autorisation préalable, toute reproduction totale ou partielle de ce site ainsi que toute utilisation du contenu du site, autre que la consultation individuelle et privée sont interdites.

            Toute représentation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable du directeur de la publication, est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété Intellectuelle.

            <h3 class="H2-couleurs">Droits d’auteurs et reproduction interdite – Copyrights</h3>
            Tous les textes, commentaires, ouvrages, illustrations, documents téléchargeables, représentations iconographiques et infographique et images reproduits sur ce site sont réservés au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. À ce titre et conformément aux dispositions du Code de la Propriété Intellectuelle, seule est autorisée l’utilisation pour un usage privé. Sauf autorisation préalable, toute reproduction totale ou partielle de ce site ainsi que toute utilisation du contenu du site, autre que la consultation individuelle et privée sont interdites.

            <h3 class="H2-couleurs">Informations nominatives</h3>
            En application de la loi n)78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez des droits d’opposition (art.26 de la loi), d’accès (art.34 à 38 de la loi), et de rectification (art.36 de la loi) des données vous concernant. Si vous souhaitez exercer ce droit, contactez-nous à l’adresse : <strong>contact@eric-parlaoz.fr</strong>.
        </div>
    </section>
{% endblock %}
