{% extends 'base.html.twig' %}

{% block title %}Política de privacidade{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-page">
        <div class="container">
            <h2 class="H2-couleurs">Política de privacidade</h2>
            <p><strong>Introdução</strong><br /> Perante o desenvolvimento de novas ferramentas de comunicação, é necessário prestar especial atenção à protecção da privacidade. É por isso que estamos comprometidos em respeitar a confidencialidade das informações pessoais que coletamos.</p>
            <h2 class="H2-couleurs">Coleta de informações pessoais</h2>
            <p>Coletamos as seguintes informações:</p>
            <ul>
                <li>Nome</li>
                <li>Nome</li>
                <li>Endereço postal</li>
                <li>Código postal</li>
                <li>Endereço de e-mail</li>
                <li>Número de telefone/fax</li>
            </ul>
            <p>As informações pessoais que coletamos são coletadas por meio de formulários e pela interatividade estabelecida entre você e nosso site. Também usamos, conforme indicado na seção a seguir, cookies e/ou arquivos de log para coletar informações sobre você.</p>

            <h2 class="H2-couleurs">Formulários e interatividade:</h2>
            <p>Suas informações pessoais são coletadas por meio de um formulário, a saber:</p>
            <ul>
                <li>Formulário de inscrição no site</li>
                <li>Formulário de pedido</li>
            </ul>
            <p>Usamos as informações assim coletadas para os seguintes propósitos:</p>
            <ul>
                <li>Acompanhamento de pedidos</li>
                <li>Informações/ofertas promocionais</li>
                <li>Estatísticas</li>
                <li>Contato</li>
            </ul>
            <p>Suas informações também são coletadas por meio da interatividade que pode ser estabelecida entre você e nosso site, da seguinte forma:</p>
            <ul>
                <li>Estatísticas</li>
                <li>Contato</li>
            </ul>
            <p>Usamos as informações assim coletadas para os seguintes propósitos:</p>
            <ul>
                <li>Comentários</li>
                <li>Informações ou ofertas promocionais</li>
            </ul>

            <h2 class="H2-couleurs">Direito de oposição e retirada</h2>
            <p>Estamos comprometidos em oferecer a você um direito de oposição e retirada em relação às suas informações pessoais.<br /> O direito de oposição é entendido como sendo a possibilidade oferecida aos usuários da Internet de recusar que suas informações pessoais sejam usadas para determinados fins mencionados no momento da coleta.</p>
            <p>O direito de rescisão é entendido como a possibilidade oferecida aos internautas de solicitar que suas informações pessoais não apareçam mais, por exemplo, em uma lista de discussão.</p>
            <p>Para exercer estes direitos, pode:<br /><strong>Código postal:</strong> Rua do monte 34 - Bico /amares Portugal<br /> <strong>Email:</strong> contact@visita-360.com<<br /> <strong>Telefone:</strong> +351 928 158 074<br /> <strong>Seção do site:</strong> www.visita-360.com</p>

            <h2 class="H2-couleurs">Direito de acesso</h2>
            <p>Assumimos o compromisso de reconhecer um direito de acesso e retificação às pessoas interessadas que pretendam consultar, modificar ou mesmo eliminar informação que lhes diga respeito.<br /> O exercício deste direito será feito:<br /> <strong>Código postal:</strong> Rua do monte 34 - Bico /amares Portugal<br /> <strong>Email:</strong> contact@visita-360.com<<br /> <strong>Telefone:</strong> +351 928 158 074<br /> <strong>Seção do site:</strong> www.visita-360.com</p>
            <h2 class="H2-couleurs">Segurança</h2>
            <p>As informações pessoais que coletamos são armazenadas em um ambiente seguro. As pessoas que trabalham para nós são obrigadas a respeitar a confidencialidade de suas informações.<br /> Para garantir a segurança de suas informações pessoais, usamos as seguintes medidas:</p>
            <ul>
                <li>Protocolo SSL (Secure Sockets Layer)</li>
                <li>Gestão de acesso – pessoa autorizada</li>
                <li>Gestão de acesso – titular dos dados</li>
                <li>Software de monitoramento de rede</li>
                <li>Backup do computador</li>
                <li>Nome de usuário/senha</li>
                <li>Firewalls</li>
            </ul>
            <p>Estamos comprometidos em manter um alto grau de confidencialidade, integrando as mais recentes inovações tecnológicas para garantir a confidencialidade de suas transações. No entanto, como nenhum mecanismo oferece segurança máxima, há sempre algum risco ao usar a Internet para transmitir informações pessoais.</p>
            <h2 class="H2-couleurs">Legislação</h2>
            <p>Comprometemo-nos a cumprir as disposições legislativas estabelecidas em:<br /> Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016, sobre a proteção das pessoas singulares no que diz respeito ao tratamento de dados pessoais e a livre circulação de tais dados (doravante denominado GDPR) e a lei francesa n° 78-17 de 6 de janeiro de 1978 relativa ao processamento de dados, arquivos e liberdades (modificada).</ p>
        </div>
    </section>

{% endblock %}