{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-page">
        <div class="container">
            <h2 class="H2-couleurs">Politique de confidentialité</h2>

            <p><strong>Introduction</strong><br /> Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C’est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</p>
            <h2 class="H2-couleurs">Collecte des renseignements personnels</h2>
            <p>Nous collectons les renseignements suivants :</p>
            <ul>
                <li>Nom</li>
                <li>Prénom</li>
                <li>Adresse postale</li>
                <li>Code postal</li>
                <li>Adresse électronique</li>
                <li>Numéro de téléphone / télécopieur</li>
            </ul>
            <p>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l’interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.</p>

            <h2 class="H2-couleurs">Formulaires  et interactivité:</h2>
            <p>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</p>
            <ul>
                <li>Formulaire d’inscription au site Web</li>
                <li>Formulaire de commande</li>
            </ul>
            <p>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>
            <ul>
                <li>Suivi de la commande</li>
                <li>Informations / Offres promotionnelles</li>
                <li>Statistiques</li>
                <li>Contact</li>
            </ul>
            <p>Vos renseignements sont également collectés par le biais de l’interactivité pouvant s’établir entre vous et notre site Web et ce, de la façon suivante:</p>
            <ul>
                <li>Statistiques</li>
                <li>Contact</li>
            </ul>
            <p>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>
            <ul>
                <li>Commentaires</li>
                <li>Informations ou pour des offres promotionnelles</li>
            </ul>

            <h2 class="H2-couleurs">Droit d’opposition et de retrait</h2>
            <p>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.<br /> Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.</p>
            <p>Le droit de retrait s’entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</p>
            <p>Pour pouvoir exercer ces droits, vous pouvez :<br />Code postal : 13 impasse de la pommeraie - 38760 Varces Allières et Risset<br /> Courriel : contact@eric-parlaoz.fr<br /> Téléphone : 07 88 10 21 12<br /> Section du site web : www.eric-parlaoz.fr</p>

            <h2 class="H2-couleurs">Droit d’accès</h2>
            <p>Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.<br /> L’exercice de ce droit se fera :<br /> Code postal : 13 impasse de la pommeraie - 38760 Varces Allières et Risset<br /> Courriel : contact@eric-parlaoz.fr<br /> Téléphone : 07 88 1à 21 12<br /> Section du site web : www.parlaoz-eric.fr</p>
            <h2 class="H2-couleurs">Sécurité</h2>
            <p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.<br /> Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :</p>
            <ul>
                <li>Protocole SSL (Secure Sockets Layer)</li>
                <li>Gestion des accès – personne autorisée</li>
                <li>Gestion des accès – personne concernée</li>
                <li>Logiciel de surveillance du réseau</li>
                <li>Sauvegarde informatique</li>
                <li>Identifiant / mot de passe</li>
                <li>Pare-feu (Firewalls)</li>
            </ul>
            <p>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.</p>
            <h2 class="H2-couleurs">Législation</h2>
            <p>Nous nous engageons à respecter les dispositions législatives énoncées dans :<br /> règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après désigné le RGPD) et à loi française n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (modifiée).</p>
        </div>
    </section>

{% endblock %}