body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.container {
    max-width: 1080px;
}

.row {
    padding-top: 25px;
}

.nav-link {
    font-weight: normal;
    font-size: 15px;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar-nav {
    margin-left: 30px;
}


.button-nav {
    background-color: #ee2b58;
    color: #FFFFFF;
    border-radius: 20px;
}

.button-nav:hover {
    background-color: #ee2b58;
    color: #F2F2F2;
    border-radius: 20px;
}


.parallax-effect {
    background-image: url("../images/bg-accueil.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect-footer {
    background-image: url("../images/bg-accueil.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 150px;
    font-size: 45px;
}

.H2-couleurs-head {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #ff3158;
    font-size: 20px;
}

.chiffre-blanc {
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
}

.blanc {
    color: #FFFFFF;
}

.H2-couleurs {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #ff3158;
    font-weight: bold;

}

.H2-grey {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #212529;
    font-weight: bold;

}

.H3-grey {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #212529;
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
}

h4 {
    padding-top: 10Px;
}

.H4-couleur {
    color: #ff3158;
    font-weight: bold;

}

.barre-couleur {
    margin-top: 20px;
    margin-bottom: 60px;
    color: #ff3158;
    width: 300px;
    border: 1px solid #ff3158;
    opacity: inherit;
}

.section2 {
    padding-top: 10px;
    padding-bottom: 50px;
}

.section3 {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section4 {
    background-color: #ff3158;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section5 {
    padding-top: 30px;
    padding-bottom: 30px;
}


.section6 {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #F2F2F2;
}

.section7 {
    padding-top: 30px;
}

.section8 {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-show {
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-blanc {
    color: #FFFFFF;
}

.button {
    background-color: #ee2b58;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 20px;
    margin: 10px;
}

.button:hover {
    background-color: #ee2b58;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.button-border {
    color: #ee2b58;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #ee2b58;
    margin: 10px;
}

.button-border:hover {
    color: #ee2b58;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #ee2b58;
    margin: 10px;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.col {
    width: 290px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
    width: auto;
}

.card:hover {
    -webkit-box-shadow: 10px 10px 14px 4px rgba(238, 43, 88, 0.16);
    box-shadow: 10px 10px 14px 4px rgba(238, 43, 88, 0.16);
    border: 1px solid white;
}

.card-show {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
    width: auto;
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-show:hover {
    transform: scale(1.1);
}

.card-show2 {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
    width: auto;
}

.img-effet {
    border-radius: 20px;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img-effet:hover {
    opacity: .5;
}


.cam-img {
    padding-top: 80px;
}

.name {
    font-weight: bold;
}

.comment {
    text-transform: uppercase;
}

.form-group {
    color: white;
}

.alert-success {
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}

.block-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.block-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-page {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* admin */

.card-admin {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
    max-width: 1280px;
}

.container-admin {
    max-width: 1280px;
}

.section-admin {
    padding-top: 100px;
    padding-bottom: 70px;
}

.h1-admin {
    color: #212529;
}




/* Responsive */

@media screen and (max-width: 380px) {
    .card,
    .card-show,
    .block-responsive,
    .card-show2,
    .temoignage,
    .block-iframe{
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {
    .card,
    .card-show,
    .block-responsive,
    .card-show2,
    .temoignage,
    .block-iframe {
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


@media screen and (min-width: 600px) {
    .card,
    .card-show,
    .block-responsive,
    .card-show2,
    .temoignage,
    .block-iframe {
        width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }

}

@media only screen and (max-device-width: 1366px) {
    .parallax-effect {
        background-attachment: scroll;
    }

    .parallax-effect2 {
        background-attachment: scroll;
    }
}
}


