{% extends 'base.html.twig' %}

{% block title %}New Porfolio{% endblock %}

{% block body %}
    <h1>Create new Porfolio</h1>

    {{ include('admin/porfolio/_form.html.twig') }}

    <a href="{{ path('app_porfolio_index') }}">back to list</a>
{% endblock %}
