{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}">
{% endblock %}


{% block body %}
   <div class="section">
       <div class="parallax-effect">
           <div class="container">
               <div class="row text-center">
                   <h1 class="H1-blanc">A página que você está procurando não existe!</h1>
                   <a href="{{ path('accueil') }}"><button type="button" class="button btn">Initial</button></a>
               </div>
           </div>
       </div>
   </div>
{% endblock %}